
@{
    ViewBag.Title = "PayForItems";
}

<h3>Pay For Your Items</h3>
<br>
<p>Good news!  Your imaginery items are all free!  We'll send them to you in the post!<p>
<br>
    @Html.ActionLink("Return to the main page", "Index", "Home")

