body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

@keyframes fade-in-CompanyLogo {
    from {
        opacity: 0;
        background-color: white;
    }

    to {
        opacity: 1;
        background-color: grey;
    }
}

h2 {
    color: yellow;
    -webkit-animation: fade-in-CompanyLogo 2.2s;
    animation: fade-in-CompanyLogo 2.2s;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    padding-top: 120px;
    padding-bottom: 20px;    
}